/* Show background around each word when hovered to show segmentation */
.hoverable-non-hsk:hover {
    border-bottom: 1px solid var(--secondary-dark);
}

.hoverable-hsk {
    background-color: var(--bg-secondary);
    border-radius: 5px;
    cursor: pointer;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltipText {
    visibility: hidden;
    width: 120px;
    background-color: var(--secondary-dark);
    color: var(--contrast);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 16px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 115%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltipText {
    visibility: visible;
}

.tooltip .tooltipText::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary-dark) transparent transparent transparent;
}