.header {
    background-color: var(--primary-dark);
    border-bottom: 5px solid var(--secondary-light);
    padding: 0.5em 2em;
    margin-bottom: 1em;
}

h1 {
    font-family: var(--font-title);
    margin: 0;
    flex-grow: 1;
}

h1:hover {
    cursor: pointer;
}

.container {
    margin: 2em;
}

.main-content {
    flex-grow: 1;
    border: 2px solid var(--secondary-light);
    border-radius: 30px;
    padding: 1em;
}

.sidebar {
    padding-left: 2em;
    font-size: 20px;
    min-width: 175px;
    text-align: center;
}

.sidebar .btn {
    margin: 0;
}

.hideSidebar {
    text-align: right;
    transition: all 0.2s;
    margin-bottom: 1em;
}

.hideSidebar:hover {
    cursor: pointer;
    color: var(--secondary-light);
}
